html {
  padding: 0 10px;
  font-family: monospace,'Courier New', Courier;
  margin: 0 auto;
  max-width: 1000px;
  background-color: #DEDEDE;
}

#scoreDisplay {
  background-color: #CBCBCB;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  border-radius: 7px;
  border: 1px solid #000
}

#scoreDisplay > div > span {
  font-size: 28px;
  font-weight: bold;
}

h1, h2, #result {
  text-align: center;
  font-size: 28px;
}

#reset {
  grid-column: 2/3;
}
#switchMode {
  grid-column: 3/4;
}
#reset, #switchMode {
  border: 2px solid #000;
  border-radius: 5px;
  width: 200px;
  height: 43px;
  justify-self: center;
  margin: 8px;
}
#reset h2, #switchMode h2 {
    margin: 10px;
    font-size: 20px;
}
#mode, #modeDisplay h2 {
  font-size: 20px;
  margin: 5px;
}

#reset:hover, #switchMode:hover {
  background-color: #848484;
  transition: all 0.2s;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 20px;
  justify-content: center;
  background-color: #fff;
  border-radius: 5px;;
}

#board > div {
  width: 70%;
  border: 2px solid #000;
  padding: 10px;
  justify-self: center;
  opacity: 0.1;
  border-radius: 5px;
}

.computer {
  margin-top: 40px;
}

.player {
  margin-bottom: 40px;
}

#fence {
  grid-column: 1/4;
  width: 100%;
  border: 3px solid #000;
}

img {
  width: 100%;
  -webkit-user-drag: none;
}

#rock:hover,
#paper:hover,
#scissors:hover {
  opacity: 0.5 !important;
  cursor: pointer;
  transition: all 0.2s;
}

.disabled {
  pointer-events: none;
}

.name {
  grid-column: 1/4;
  text-align: center;
  font-size: 30px;
}

#gameFinished {
  font-weight: bold;
  margin-top: 30px;
  visibility: hidden;
  text-align: center;
  border: 1px solid #000;
  width: 250px;
  margin: 25px auto 10px auto;
  border-radius: 5px;
  user-select: none;
}
#gameFinished:hover {
  background-color: #848484;
  transition: all 0.2s;
}